<div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listes Des Bornes MYSQL </h5>
          <%= link_to 'VOIR', bornes_path ,:class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Listes Des Bornes MAPS </h5>
        <%= link_to 'VOIR',  'mongo/index',:class => "btn btn-primary" %>
      </div>
    </div>
  </div>
 <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Listes Des Bornes MongoID </h5>
  <%= link_to 'VOIR', 'mongoid/index' ,:class => "btn btn-primary" %>
      </div>
    </div>
    </div>
    </div>
</div>
</div>