<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div>
  <%= link_to 'Listes des Bornes MYSQL', bornes_path ,:class => "btn btn-primary" %>
  <%= link_to 'Map API + Mongo','mongo/index' ,:class => "btn btn-primary" %>
  <%= link_to 'Listes des Bornes MongoId', 'mongoid/index' ,:class => "btn btn-primary" %>
  <%= link_to 'liste des bornes Mongo','mongo/index' ,:class => "btn btn-primary" %>

</div>